* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 1px);
}
:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white-p:  hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}
.container {
    max-width: 65rem;
    margin: 0 auto;
    background-color: var(--light-gray);
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.container .container__box--one {
    background-color: var(--bright-orange);
}
.container .container__box--two {
    background-color: var(--dark-cyan);
}
.container .container__box--three {
    background-color: var(--very-dark-cyan);
}
.container .container__box {
    padding: 3.5rem;
}
.container__box .container--heading {
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 2.5rem 0;
}